<h4 class="text-center bg-primary text-white py-4">Welcome to
  <%= Rails.configuration.title %></h4>

<%= form_with model: resource,
              scope: resource_name,
              url: registration_path(resource_name),
              method: :post,
              local: true,
              class: 'p-4' do |form| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= form.text_field :username,
                        placeholder: 'Username',
                        class: 'form-control',
                        'aria-label': 'Username' %>
  </div>

  <div class="mb-3">
    <%= form.email_field :email,
                         placeholder: 'Email',
                         class: 'form-control',
                         'aria-label': 'Email' %>
  </div>

  <div class="mb-3">
    <%= form.password_field :password,
                            placeholder: 'Password',
                            class: 'form-control',
                            'aria-label': 'Password' %>
  </div>

  <div class="mb-3 col-3">
    <%= form.number_field :age,
                          min: 16,
                          max: 120,
                          placeholder: 'Age',
                          class: 'form-control',
                          'aria-label': 'Age' %>
  </div>

  <div class="mb-3">
    <%= form.select :gender,
                    [['Male', 'male'], ['Female', 'female']],
                    { include_blank: 'Gender' },
                    class: 'form-select',
                    'aria-label': 'Gender' %>
  </div>

  <div class="mb-3">
    <%= form.country_select :country_code,
                            { include_blank: 'Country' },
                            class: 'form-select' %>
  </div>

  <div class="d-grid">
    <%= form.submit 'Sign up', class: 'btn-lg btn-primary text-white' %>
  </div>
<% end %>
