<header class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to Rails.configuration.title, '/', id: 'logo', class: 'navbar-brand' %>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end mt-2 mt-lg-0"
         id="navbarSupportedContent">
      <%= form_with model: resource,
                    scope: resource_name,
                    url: session_path(resource_name),
                    method: :post,
                    local: true,
                    class: 'row row-cols-lg-auto g-3 align-items-center' do |form| %>
        <div class="col-md-12">
          <%= form.email_field :email,
                               placeholder: 'Email',
                               class: 'form-control me-2',
                               'aria-label': 'Email' %>
        </div>

        <div class="col-md-12">
          <%= form.password_field :password,
                                  placeholder: 'Password',
                                  class: 'form-control me-2',
                                  'aria-label': 'Password' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="col-12">
            <div class="form-check">
              <%= form.check_box :remember_me, class: 'form-check-input' %>
              <%= form.label :remember_me, class: 'form-check-label text-white' %>
            </div>
          </div>
        <% end %>

        <div class="col-md-12">
          <%= form.submit 'Sign in', class: 'btn btn-outline-light text-nowrap' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
